$base_bg_color: #f1f1f1;
$color_green: #419a1c;
$color_white: #ffffff;
$color_black: #000000;
$color_gray: #3a3a3a;

$color_icon_twitter: #0D83DD;
$color_icon_fb: #3b5998;
$color_icon_gp: #db4437;
$color_icon_pi: #BD081C;
$color_icon_linkedin: #0084bf;

body{
  header.bs-docs-nav.navbar.navbar-static-top{
    margin-bottom: 0px;
    border-bottom: 0px none;
    background-color: $color_green;
    .container{
      .navbar-header{
        a.navbar-brand{
          margin-top: 0px;
          img{
            margin-top:-2px;
          }
        }
      }
    }
  }
}
.container{
  .navbar-header{
    .navbar-brand{
      height: auto;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  .navbar-collapse{
    ul.navbar-nav{
      height: 68px;
      line-height: 68px;
      padding-top: 24px;
      li{
        a{
          padding-top: 0px;
          padding-bottom: 0px;
          color: $color_white;
          &:hover{
            background-color: transparent;
            color: $color_white;
            opacity: 0.85;
          }
        }
      }
    }    
  }
}
html, body{
  height: 100%;
  min-height: 100%;
  .container.bs-docs-container{
    min-height: calc(100% - 168px);
  }
  a{
    background-color: transparent;
    &:hover{
      outline: none;
      background-color: transparent;
    }
    &:focus{
      outline: none;
    }
  }
}
footer {
  clear: both;
  position: relative;
  background-color: $base_bg_color;
  z-index: 10;
  height: 100px;
}
*{
  outline: none;
}
.central_form{
  width: 368px;
  margin: 0px auto;
  input{
    width: 100%;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding-left: 12px;
    padding-right: 12px;
    &:focus{
      border: 1px solid #0088cc;
    }  
  }
  button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    background-color: #f9f9f9;
    font-size: 16px;
    text-transform: capitalize;
    color: $color_green;
    border: 1px solid $color_green;
    width: 100%;
    cursor: pointer;
    &:hover{
      background-color: $color_green;
      color: $color_white;  
    }
  }
  select, textarea{
    width: 80%;
    // height: 40px;
    border-radius: 2px;
    border: 1px solid #ccc;
  }
}
.wl_footer{
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
  .footer_text{
    display: inline-block;
    width: 50%;
    padding-top: 9px;
    .footer-copy{
      height: 40px;
      line-height: 40px;
      a{
        color: #757575;
        margin-right: 28px;
        float: left;
        &:hover{
          background-color: transparent;
          color: $color_green;
        }
      }
    }
  }
  .social-copyright{
    width: 220px;
    .social-icons{
      float: left;
      .social-icon{
        float: right;
        font-size: 18px;
        width: 32px;
        height: 32px;
        text-align: center;
        background-color: $color_white;
        text-decoration: none;
        margin-right: 10px;
        color: #fff;
        line-height: 32px;
        border-radius: 32px;
        &:hover{
          opacity: 0.8; 
        }  
      }
      .social-icon.icon-twitter{
        background-color: $color_icon_twitter;  
      }
      .social-icon.icon-facebook{
        background-color: $color_icon_fb;
      }
      .social-icon.icon-google-plus{
        background-color: $color_icon_gp;
      }
      .social-icon.icon-pinterest-p{
        background-color: $color_icon_pi;
      }
      .social-icon.icon-linkedin2{
        background-color: $color_icon_linkedin;
      }
    }
    .copyright{
      width: 100%;
      float: left;
      margin-top: 10px;
    }
  }
}
.align_left{
  float: left;
}
.align_right{
  float: right;
}

#bs-navbar{
  .navbar-nav > li > a{
    &:active{
      background-color: transparent;
    }
    &:hover{
      background-color: transparent;
      outline: 0px none;
    }
  }
}

