<footer class="bs-docs-footer wl_footer">
	<div class="container">
		<div class="footer_text align_left">
			<div class="footer-copy copyright desktop">
				<span>© 2000-<%=Time.current.year%> WorkLog</span>
			</div>
		</div>
		<div class="social-copyright align-right">
			<div class="social-icons">
				<a href="https://twitter.com/paul.wei" class="social-icon icon-twitter"></a>
				<a href="https://www.facebook.com/paul.wei" class="social-icon icon-facebook"></a>
				<a href="https://plus.google.com/paul.wei" class="social-icon icon-google-plus"></a>
				<a href="https://www.pinterest.com/user/paul.wei" class="social-icon icon-pinterest-p"></a>
				<a href="https://www.linkedin.com/paul.wei/" class="social-icon icon-linkedin2"></a>
			</div>
		</div>
	</div>
</footer>